<form action="/goodbye">
    <label for="name">Name</label>
    <input type="text" id="name" name="first">

    <label for="last_name">Last_Name</label>
    <input type="text" id="last_name" name="last">
    
    <button>
    Submit
    </button>

</form>

<%=params%>
<%=params.fetch("first")%>
