<form action="/random/results">
    <label for="min">Minimum</label>
    <input type="text" id="min" name="user_min" placeholder="E.g. 1.5" color=blue>
    <br>
    <label for="max">Maximum</label>
   <input type="text" id="max" name="user_max" placeholder="E.g. 4.5" color=blue>
  <br>
    <button>Pick random number</button>

</form>
