<form action="/root/result">

<label for="num">Enter a number</label>
<br>
<input type="text" id="num" name="user_number" placeholder="What number do you want to">
<br>

<button>Calculate square </button>

</form>
