<form action="/square/results">
    <label for="square">Enter a number</label>
    <br>
    <input type="text" id="square" name="number" placeholder="What number do you want to" color=blue>
   
    <br>
    <button>Calculate square</button>

</form>
